<div class="row">
	<div class="col-sm-12">
		<h2>Journey planner</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<form novalidate name="journeyplannerform">
			<div class="form-group">
				<label for="fromInput">Departure tube station</label>
				<input type="text" name="journeyfrom" placeHolder="from" data-ng-model="journeyplanner.destinations.from" uib-typeahead="location as location.name for location in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control" aria-describedby="basic-addon1" maxlength="100" autocomplete="off" required>
				<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
			    <div ng-show="noResults">
			      <i class="glyphicon glyphicon-remove"></i> No Results Found
			    </div>
				<div data-ng-show="journeyplannerform.$submitted && journeyplannerform.journeyfrom.$error.required" class="form-control alert-danger alert-message" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					Enter a departure location
				</div>
			</div>
	
			<div class="form-group">
				<label for="fromInput">Destination tube station</label>
				<input type="text" name="journeyto" placeholder="to" data-ng-model="journeyplanner.destinations.to" uib-typeahead="location as location.name for location in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control" aria-describedby="basic-addon1" maxlength="100" autocomplete="off" required>
				<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
			    <div ng-show="noResults">
			      <i class="glyphicon glyphicon-remove"></i> No Results Found
			    </div>
				<div data-ng-show="journeyplannerform.$submitted && journeyplannerform.journeyto.$error.required" class="form-control alert-danger alert-message" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					Enter a destination location
				</div>
			</div>

			<button type="submit" data-ng-click="journeyplanner.update()" class="btn btn-success">Click</button>
		</form>

	</div>
	<div class="col-md-8">
		<div my-customer></div>
		<pre>master = {{ journeyplanner.destinations.from | json }}</pre>
		<pre>masters of the galaxy = {{ journeyplanner.destinations.from.name | json }}</pre>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
			<dl data-ng-repeat="x in journeyplanner.promiseJourney.journeys" class="dl-horizontal">
				<h3>Option {{$index +1}}</h3>
				<dt>Duration:</dt><dd>{{x.duration}} minutes</dd>
				<dt>Departure time:</dt><dd> {{x.startDateTime | date:'shortTime'}}</dd>
				<dt>Arrival time:</dt><dd> {{x.arrivalDateTime | date:'shortTime'}}</dd>
				<h4>legs:</h4>
					<dl data-ng-repeat="leg in x.legs" class="dl-horizontal">
						<dt>Instruction:</dt><dd> {{leg.instruction.detailed}}</dd>
						<dt>Depart:</dt><dd> {{leg.departurePoint.commonName}}</dd>
						<dt>Arrive at:</dt><dd> {{leg.arrivalPoint.commonName}}</dd>
						<dt>Duration:</dt><dd> {{leg.duration}} minutes</dd>
						<dt>Departure time:</dt><dd> {{leg.departureTime | date:'shortTime'}}</dd>
						<dt>Arrival time:</dt><dd> {{leg.arrivalTime | date:'shortTime'}}</dd>
						<dt>Mode of transport:</dt><dd> {{leg.mode.name}}</dd>
					</dl>

			</dl>
		</ul>
	</div>
</div>