/* app css stylesheet */
body { padding-top: 70px; background-color: #000; color: #fff; }

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

#views {
  margin-top:5em;
}

.centerTextAfterAnim { display: block; text-align: center; color: pink; font-size: 40px;}
.animationText { text-align: center;}
input {
  color:black;
}

form>input.form-control:first-child.ng-pristine{
  width: 100%;
  border-radius: 0.3em;
  margin-bottom: 0.6em;
}

.input-group .form-control:not(:first-child):not(:last-child){
  width: 100%;
  border-radius: 0.3em;
  margin-bottom: 0.6em;
}

input.form-control.ng-dirty {
  background-color: #b3d4fc;
}
button.btn.btn-success.ng-scope {
    margin-bottom: 0.6em;
}

/* fonts */

h2.terminal { font-family: VT323, Arial, serif; font-weight: 400; color:rgb(0, 204, 0);}

/* animations */

/* animating repeat rows  */
.repeat-row-anim.ng-enter {
  transition: 2s linear all;
  opacity: 0;
}

.repeat-row-anim.ng-enter-stagger {
  transition-delay: 0.3s;
  transition-duration: 0s;
}

.repeat-row-anim.ng-enter.ng-enter-active {
  opacity: 1;
}

/* terminaltext */

.animationText {
  height: 17em;
  left: 50%;
  position: absolute;
  top: 53%;
  transform: translate(-50%, -50%);
  width: 36em;
}

/* journeyplanner results li */

.journeyresultsli:hover {
  background-color: #f1f1f1;
}
.hide {display: none}
.show {display: block;}

/* journeyplanner error message */

.alert-message {
  margin-top: 0.4em;
}
