<h2>Journey planner</h2>
<br>

<div class="input-group">
	<form novalidate>
	    <input type="text" placeHolder="from" data-ng-model="view5.destinations.from.name" ng-change="view5.searchChange(view5.destinations.from, 'from')" class="form-control" aria-describedby="basic-addon1" maxlength="100">
	    <br>
        <ul ng-class="view5.showhidelistFrom">
        	<li data-ng-repeat="x in view5.fromStopPoint.matches" data-ng-click="view5.journeyFromOptionsClick(x)" class="form-control journeyresultsli">{{ x.name }}</li>
        </ul>
	    <input type="text" placeholder="to" data-ng-model="view5.destinations.to.name" ng-change="view5.searchChange(view5.destinations.to, 'to')" class="form-control" aria-describedby="basic-addon1" maxlength="100">
	    <br>
        <ul ng-class="view5.showhidelistTo">
        	<li data-ng-repeat="x in view5.toStopPoint.matches" data-ng-click="view5.journeyToOptionsClick(x)" class="form-control journeyresultsli">{{ x.name }}</li>
        </ul>
	    <br>
	    <input type="submit" data-ng-click="view5.update(view5.destinations)" value="Click" class="btn btn-success">
	</form>
</div>
<br>
<br>
<div my-customer></div>
<pre>master = {{ view5.master | json }}</pre>
<ul>
	<li data-ng-repeat="x in view5.promiseJourney.journeys">
		<p>{{x.routeOptions}}</p>
		<p>Duration: {{x.duration}}</p>
		<p>Departure time: {{x.startDateTime}}</p>
		<p>Arrival time: {{x.arrivalDateTime}}</p>
		<p>legs: {{x.legs[0].duration}}</p>
		<li data-ng-repeat="child in x.legs">
			<p>child: {{child.duration}}</p>
		</li>
	</li>
</ul>